main {
  background-image: url('/static/img/bakery.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.main-content {
  padding-top: 30px;
}

.welcome {
  padding: 20px;
  text-align: center;
  /* background-color: #fba2a2ab; */
  background-color: #fbdfd8e0;
  width: 65%;
  border-radius: 5px;
}

.aboutUs {
  padding: 15px;
  text-align: center;
  background-color: #fbdfd8e0;
  width: 90%;
  border-radius: 5px;
}
