/* Header Banners */
.header-banner {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  text-align: center;
  padding-block: 1rem;
  gap: 1rem;
}

.header-title {
  background-color: #fbdfd8f1;
  border-radius: 10px;
  padding: 3px;
  font-family: Chalkduster, fantasy;
}

#coffee-header {
  background-image: url(/static/img/coffee-card.jpg);
}

#donut-header {
  background-image: url(/static/img/donut-card.jpeg);
}

.header-order-btn {
  background-color: #ffdcab;
  color: black;
  border: 0px;
  font-family: Bradley Hand, cursive;
}

.header-order-btn:hover {
  background-color: #ffbe63;
  border-color: none;
  transform: scale(1.2);
  box-shadow: 0 5px #ffdcab;
}

/* Coffee Menu */
.menu-section-title {
  color: #fff;
  font-family: Marker Felt, fantasy;
  margin-block: 1rem;
  padding-block: 0.5rem;
  padding-inline: 5rem;
  border-block: 4px solid #754332;
  text-align: center;
}
.menu-section-title h1 {
  margin: 0;
}

.menu-card-body {
  background-color: #9c6f44;
  border-radius: 10px;
  padding: 3px;
  color: white;
  font-family: Jazz LET, fantasy;
}
.card-brown {
  background-color: #9c6f44;
  color: white;
}

.card-img-top {
  height: 15vh;
  object-fit: cover;
}
