{% extends 'base.html' %} 
{% load static %} 
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/index.css' %}" />
{% endblock %} 
{% block content %}
<main class="main-content col d-flex flex-column align-items-center">
  <div class="welcome">
    <h3 style="color: #754332">🍩 Welcome to Dough-licious Cafe 🍩</h3>
    <h6 class="mb-3">"Dive into a Doughy Delight"</h6>

    <p>Find us at NJIT's Robert W. Van Houten Library!</p>

    <p class="fw-bold">Hours of Operation</p>
    <p>Monday - Wednesday.......7 am - 10 pm</p>
    <p>Thursday - Sunday.......7 am - 5 pm</p>

    <p class="fw-bold">Contact Us</p>
    <p>dough-licious-cafe@njit.edu</p>
  </div>
  <div class="aboutUs my-4">
    <h3 style="color: #754332">☕ About Us ☕</h3>

    <p class="abt">
      Welcome to Dough-licious Cafe, nestled in the heart of our bustling
      campus! Here, the aroma of freshly brewed coffee mingles with the
      excitement of student conversations. Step inside, and let your
      senses awaken. So, dear student, whether you're chasing deadlines,
      forging friendships, or simply seeking solace in a cup of coffee,
      The Dough-licious Cafe awaits. Come for the donuts, stay for the
      camaraderie.
    </p>
  </div>
</div>
</main>
{% endblock content %}
   
{% block scripts %}
<script>src = '{% static 'js/index.js' %}';</script>
{% endblock %}
    