{% extends 'base.html' %} 
{% load static %} 
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/menu.css' %}" />
{% endblock %} 
{% block content %}
<main class="col d-flex flex-column align-items-center mt-4">
  <div id="coffee-header" class="container header-banner mb-2">
    <div class="mx-auto">
      <h2 class="header-title">☕️Coffee☕️</h2>
      <a href="#drinks" class="header-order-btn btn"
        >Order Drinks Now 😋</a
      >
    </div>
  </div>
  <div id="donut-header" class="container header-banner">
    <div class="mx-auto">
      <h2 class="header-title">🍩Donuts🍩</h2>
      <a href="#donuts" class="header-order-btn btn"
        >Order Donuts Now 😋</a
      >
    </div>
  </div>
  <div class="menu-section-title" id="drinks">
    <h1>Our Drinks</h1>
  </div>
  <section>
    <div class="container px-4 px-lg-5 mt-5">
      <div
        class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
      >
        {% for product in products %}
          {% if product.category.name == 'Drinks' %}
            <div class="col mb-5">
              <div class="card card-brown h-100">
                <img
                  class="card-img-top"
                  src="{{ product.image.url }}"
                  alt="..."
                />
                <div class="card-body p-4">
                  <div class="text-center">
                    <h5 class="fw-bolder">{{ product.name }}</h5>
                    ${{ product.price }} ID: {{ product.id }}
                  </div>
                </div>
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                  <div class="text-center">
                    <a class="btn btn-outline-light mt-auto" href="#">Add to Cart</a>
                  </div>
                </div>
              </div>
            </div>
          {% endif %} 
        {% endfor %}
      </div>
    </div>
  </section>
  <div class="menu-section-title" id="donuts">
    <h1>Our Donuts</h1>
  </div>
  <section>
    <div class="container px-4 px-lg-5 mt-5">
      <div
        class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
      >
        {% for product in products %} 
          {% if product.category.name == 'Donuts' %}
            <div class="col mb-5">
              <div class="card card-brown h-100">
                <img
                  class="card-img-top"
                  src="{{ product.image.url }}"
                  alt="..."
                />
                <div class="card-body p-4">
                  <div class="text-center">
                    <h5 class="fw-bolder">{{ product.name }}</h5>
                    ${{ product.price }}
                  </div>
                </div>
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                  <div class="text-center">
                    <a class="btn btn-outline-light mt-auto" href="#"
                      >Add to Cart</a
                    >
                  </div>
                </div>
              </div>
            </div>
          {% endif %} 
        {% endfor %}
      </div>
    </div>
  </section>
</main>
{% endblock content %}
   
{% block scripts %}
<script>src = '{% static 'js/menu.js' %}';</script>
{% endblock %}